body {
    background-color: black;
}

.header { 
    margin: 10px;
}

.title {
    padding: 7% 53% 5% 0;
    color: white;
}

.titleContainer {
    width: 100%;
    align-content: center;
    text-align: center;
}

.userController {
    float: left;   
}

.User {
    margin: 10px;
}

.userState {
    float: left;
}

.userRow {
    margin-top: 35px;
    padding-left: 60px;   
}

.main{
    position:absolute;
    top: 24%;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    border-top: 1px solid green;
}

.RoomList {
    border-right: 1px solid green;
    padding-top: 1%;
    padding-left: 40px;
}

.roomForm {
    padding: 10%;
    width: 100%;
}

.addRoom {
    width: 100%;
    background-color: black;
    border: 1px solid grey;
}

.ItemList {
    padding-top: 3%;
}

.todos {
    margin: 0% 3% 0% 3%;
}

.todoTitle {
    padding-bottom: 20px;
    padding-right: 18%;
    color: white;
}

.roomItem {
    background-color: black;
    color: white;
    border-top: 1px solid green;
    padding-top: 20px;
    padding-bottom: 20px;
}

.newTodo {
    width: 72%;
    position: fixed;
    bottom: 0;
    padding-top: 10px; 
    margin-bottom: 10px; 
    background-color: black;
    color: white; 
}

.todoDescription {
    text-align: left;
    padding-top: 10px;
}

.isPurchased {
    margin-left: 15px; 
}

.editDelete {
    text-align: right;
    padding-top: 10px;
}

.editButton {
    margin-right: 7px;
    margin-top: 2px;
}

.deleteButton {
    margin-left: 7px;
    margin-top: 2px;
}

.todoUsername {
    text-align: left;
    padding-top: 15px;
}

.todoDate {
    text-align: right;
    padding-top: 20px;
}

.todoItem {
    background-color: black;
    color: white;
    border: 1px solid green;
}

.inputTodo {
    background-color: black;
    border: 1px solid grey;
}

.editItemRow {
    margin-top: 20px;
}

.editInput {
    background-color: black;
    border: 1px solid grey;
}

.editForm {
    background-color: black;
    border: 1px solid grey;
    width: 400px;
}

.cancelButton {
    margin-left: 12px;
}

.submitEditButton {
    margin-left: 12px;
}